body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: sans-serif;
    background-color: #222831;
    margin-top: 10px;
}

h1 {
    color: #EEEEEE;
    display: inline-block;
    left: 50%;
    position: relative;
    transform: translate(-50%, -50%);
    text-align: center;
    margin-top: 25px;
}

.menu a {
    color: #EEEEEE;
    display: block;
    padding: 12px;
    text-decoration: none;
}


.menu a:hover {
    color: #FF5722;
}

.menu a.active {
    color: #FF5722;
}

.btn {
    margin-top: 10px;
    margin-right: 10px;
    display: inline-block;
    vertical-align: middle;
    float: right;
    background-color: #FF5722;
    width: 30px;
    height: 30px;
}

.offcanvas-header {
    background-color: #2D4059;
}

.offcanvas-body {
    background-color: #2D4059;
}


#offcanvasRightLabel {
    color: #EEEEEE;
    font-size: 40px;
}

.btn-close{
    
}