body {
    background-color: #222831;
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: sans-serif;
    padding: 0;
}


.board {
    position: relative;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -12%);
}



.input {
    display: inline-block;
    text-align: left;
}

.input-1 {
    width: 465px;
    display: inline-block;
    text-align: left;
    transform: translate(0%, 46%);
    margin-right: 30px;
}


.btn-group th {
    padding: 5px;
    color: white;
    text-align: center;
}

.btn-group button {
    margin: 0;
    padding: 2px;
    width: 55px;
    height: 55px;
}


.white {
    background-color: white;
}



.black {
    background-color: black;
}

.console {
    overflow-y: scroll;
    background-color: #2D4059;
    box-shadow: 0 0 25px black;
    border-radius: 4px;
    height: 400px;
}


.console::-webkit-scrollbar {
    width: 6px;
    background-color: #EEEEEE;
    border-radius: 4px;
}

.console::-webkit-scrollbar-thumb {
    background-color: #FF5722;
}


.send_btn {
    border-radius: 4px;
    background-color: #222831;
    color: #FF5722;
    transition-duration: 0.3s;
    border: 3px solid #EEEEEE;

}

.send_btn:hover {
    background-color: #EEEEEE;
    color: #FF5722;
    box-shadow: 4px 4px #FF5722;
}

#chat-input {
    outline: none;
    border-radius: 4px;
    border: none;
    height: 31px;
    width: 315px
}

#chat {
    color: #EEEEEE;
}

.pieces {
    color: #EEEEEE;
}

.question {
    width: 33px;
    height: 33px;
    border-radius: 4px;
    background-color: #222831;
    color: #FF5722;
    transition-duration: 0.3s;
    border: 3px solid #EEEEEE;
    margin-left: 5px;
}

.question:hover {
    background-color: #EEEEEE;
    color: #FF5722;
    box-shadow: 4px 4px #FF5722;
}

@media screen and (max-width: 940px) {
    .board {
        transform: translate(-50%, 5%);
    }

    .console {
        height: 90px;
    }

    .input-1 {
        transform: translate(0%, 0%);
        margin-right: 0px;
    }
    
    #chat-input{
        width: 300px;
    }

}

.send_bottom {
    margin-top: 10px;
}

.end {
    margin-top: 10px;
    margin-bottom: 10px;
}
