body {
    background-color: #0C0032;
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: sans-serif;
}


.btn-group {
    left: 50%;
    top: 50%;
    position: absolute;
    transform: translate(-50%, -50%);

}

.btn-group th{
    padding: 5px;
    color: white;
}

.btn-group button{
    margin: 0;
    padding: 2px;
    
}

@media screen and (min-width: 800px) {
    .btn-group button {
        width: 65px;
        height: 65px
    }

}

@media screen and (max-width: 800px) {
    .btn-group button {
        width: 50px;
        height: 50px
    }
}


.white {
    background-color: white;
}



.black {
    background-color: black;
}
