body{
    background-color: #222831;
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: sans-serif;
}

li{
    list-style: none;
}
.main_image {
    display: block;
    position: absolute;
    top: 50%;
    left: 78%;
    width: 28%;
    transform: translate(-50%, -50%);
}

@media screen and (min-width: 800px) {
    .main_image{
        display: block;
    }
    .float-child{
        width: 58%;
        left: 30%;
    }
}
@media screen and (max-width: 800px) {
    .main_image{
        display: none;
    }
    .float-child{
        left: 50%;
        width: 90%;
        
    }
}

h1{
    color: white;
    font-size: 550%;
    
}

button{
    border-radius: 4px;
    background-color: #222831;
    color: #FF5722;
    transition-duration: 0.3s;
    border: 3px solid #EEEEEE;
    width: 30%;
    height: 50px;
    font-size: 110%;
    margin-bottom:  8%;
    margin-top: 2%;
    min-width: 200px;
    
}

button:hover{
    background-color: #EEEEEE;
    color: #FF5722;
    box-shadow: 8px 8px #FF5722;
}


.float-child{
    top: 50%;
    position: absolute;
    text-align: center;
    transform: translate(-50%, -50%);
}