body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: sans-serif;
}

.back {
    background-color: #222831;
}

.menu {}

.menu a {
    color: #EEEEEE;
    display: block;
    padding: 12px;
    text-decoration: none;
}

.menu a:hover {
    color: #FF5722;
}

.menu a.active {
    color: #FF5722;
}

.btn {
    float: right;
    margin-top: 12px;
    margin-right: 5px;
}

.offcanvas-header {
    background-color: #2D4059;
}

.offcanvas-body {
    background-color: #2D4059;
}


#offcanvasRightLabel {
    color: #EEEEEE;
    font-size: 40px;
}

h1 {
    color: #EEEEEE;
}

.box {
    color: #EEEEEE;
    display: block;
    box-shadow: 0 0 25px black;
    border-radius: 4px;
    background-color: #2D4059;
    margin-top: 7%;
    margin-bottom: auto;
    margin-left: 5%;
    margin-right: 5%;
    padding: 2%;

}

.structure {
    
}

.search{
}
