body {
    background-color: #222831;
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: sans-serif;
    padding: 0;
}


.board {
    display: flex;
    width: 90%;
    left: 50%;
    top: 50%;
    position: absolute;
    transform: translate(-50%, -50%);

}

.btn-group {
    flex: 1;
    max-width: 570px;
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    justify-content: center;
}

.btn-group th {
    padding: 5px;
    color: white;
}

.btn-group button {
    margin: 0;
    padding: 2px;

}

@media screen and (min-width: 1000px) {
    .btn-group button {
        width: 65px;
        height: 65px
    }

    .console {
        height: 490px;
        min-width: 300px;
    }

    .send_bottom{
        position: absolute;
    }
    
}

@media screen and (max-width: 1000px) {
    .btn-group button {
        width: 50px;
        height: 50px
    }

    .board {
        display: block;
    }

    .console {
        height: 150px;
        margin-bottom: 5px;
        transform: translate(0%, -170%);

    }

    .btn-group {
        left: 50%;
        position: absolute;
        transform: translate(-50%, -50%);
        margin-left: 0;
        margin-right: 0;
    }
    
    .send_btn{
        background-color: #2D4059;
    }
    
    .send_bottom{
        margin-left: 10px;
    }
    

}


.white {
    background-color: white;
}



.black {
    background-color: black;
}


.console {
    overflow-y: scroll;
    background-color: #2D4059;
    flex: 1;
    box-shadow: 0 0 25px;
}

.console span {
    bottom: 0;
}


.console::-webkit-scrollbar {
    width: 6px;
    background-color: #EEEEEE;
}

.console::-webkit-scrollbar-thumb {
    background-color: #FF5722;
}

.submit {
    color: blue;
}

.send_btn {
    border-radius: 4px;
    background-color: #222831;
    color: #FF5722;
    transition-duration: 0.3s;
    border: 3px solid #EEEEEE;

}

.send_btn:hover {
    background-color: #EEEEEE;
    color: #FF5722;
    box-shadow: 4px 4px #FF5722;
}

.send_bottom{
    bottom: 0;
}

#chat-input{
    outline: none;
}

#chat{
    color: #EEEEEE;
}
