<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="icon" href="../static/img/logo.png" type="image/icon type">
    <meta charset="UTF-8">
    <meta name=viewport content='width=700'>
    <title>Home</title>    
    
    
</head>

<body>
    <img class='main_image' src="../static/img/main_page.png">

    <div class="float-child">
        <h1>Chess Online</h1>

        <li><a href="https://chess-online-project.herokuapp.com/login">
                <button type="button">Войти</button>
            </a>
        </li>

        <li><a href="https://chess-online-project.herokuapp.com/register">
                <button type="button">Зарегистрироваться</button>
            </a>
        </li>

    </div>

</body></html>