<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="icon" href="static/img/logo.png" type="image/icon type">
    <meta charset="UTF-8">
        <title>Home</title>
    </head>
    <body>
        <img class='main_image' src="../static/img/main_page.png" >

        <div class="float-child">
            <h1>Chess Online</h1>

            <li><a href="http://127.0.0.1:8080/login"> 
                <button type="button">Ввойти</button>
                </a>
            </li>

            <li><a href="http://127.0.0.1:8080/register">
                <button type="button">Зарегистрироваться</button>
                </a>
            </li>
            
        </div>
        
    </body>
</html>