<!DOCTYPE html>
<html lang="en">

<head>
    <title>Profile</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../static/css/style5.css">
    <link rel="icon" href="../static/img/logo.png" type="image/icon type">
    <meta name=viewport content='width=700'>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body class="back">
    <button class="btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">=</button>

    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
        <div class="offcanvas-header">
            <h2 id="offcanvasRightLabel">Меню</h2>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <div class="menu">
                <a href="profile.html" class="active">Профиль</a>
                <a href="facts.html">Интересные факты</a>
                <a href="main.html">Играть</a>
            </div>
        </div>
    </div>
    <h1>Профиль</h1>

    <div class="structure">
        <div class="box">
            <h3>Персональные данные</h3>
            <div>id</div>
            <div>usermame</div>
        </div>

        <div class="box">
            <h3>New Game:</h3>
            <div class="search"><input type="text" placeholder="Search.." name="search">
                <button type="submit"><i class="fa fa-search"></i></button></div>
        </div>

        <div class="box">
            <h3>Стаститика</h3>
            <div>Выигрыш: {{ win }} </div>
            <div>Проигрыш: {{ lose }} </div>
            <div>Ничья: {{ draw }} </div>
        </div>
    </div>

</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>



</html>
