<!DOCTYPE html>
<html lang="en">

<head>
    <title>Profile</title>
    <meta charset="utf-8">

    <link rel="icon" href="../static/img/logo.png" type="image/icon type">
    <meta name=viewport content='width=700'>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="../static/css/style5.css">
    <link rel="stylesheet" href="../static/css/menu.css">

</head>

<body>
    <h1>Профиль</h1>

    <button class="btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
    </button>

    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
        <div class="offcanvas-header">
            <h2 id="offcanvasRightLabel">Меню</h2>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <div class="menu">
                <a href="https://chess-online-project.herokuapp.com/profile" class="active">Профиль</a>
                <a href="https://chess-online-project.herokuapp.com/facts">Интересные факты</a>
                <a href="https://chess-online-project.herokuapp.com/rules">Правила Игры</a>
                <a href="https://chess-online-project.herokuapp.com/login">Выйти</a>
            </div>
        </div>
    </div>


    <div class="structure">
        <div class="box">
            <h3>Персональные данные</h3>
            <div>ID: {{ id_user }}</div>
            <div>Логин: {{ name_user }}</div>
        </div>

        <div class="box" id="new_game">
            <h3>Новая игра:</h3>
            <form action="" method="post" novalidate>
                {{ form.hidden_tag() }}
                <div>
                    {{ form.username.label (class="label") }}
                    {{ form.username(class="info") }}
                    {{ form.submit(type="submit", class="submit") }}

                    {% for error in form.username.errors %}
                    <div id="message" role="alert">{{ error }}</div>
                    {% endfor %}
                </div>


            </form>


        </div>

        <div class="box">
            <h3>Стаститика</h3>
            <div>Выигрыш: {{ win }} </div>
            <div>Проигрыш: {{ lose }} </div>
            <div>Ничья: {{ draw }} </div>
        </div>
    </div>

</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>


< /html>
