<!DOCTYPE html>
<html lang="en">

<head>
    <title>Rules</title>
    <meta charset="utf-8">

    <link rel="icon" href="../static/img/logo.png" type="image/icon type">
    <meta name=viewport content='width=500'>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <link rel="stylesheet" href="../static/css/style6.css">
    <link rel="stylesheet" href="../static/css/menu.css">

</head>

<body>
    <h1>Правила</h1>

    <button class="btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight"></button>

    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
        <div class="offcanvas-header">
            <h2 id="offcanvasRightLabel">Меню</h2>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <div class="menu">
                <a href="https://chess-online-project.herokuapp.com/profile/{{ username }}">Профиль</a>
                <a href="https://chess-online-project.herokuapp.com/facts/{{ username }}">Интересные факты</a>
                <a href="https://chess-online-project.herokuapp.com/rules/{{ username }}" class="active">Правила игры</a>
                <a href="https://chess-online-project.herokuapp.com/login">Выйти</a>
            </div>
        </div>
    </div>

    <div class="accordion" id="accordionExample">

        <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                    Пешка
                </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <img class="image" src="../static/img/rules/1.jpg">
                    <img class="image" src="../static/img/rules/2.jpg">
                    <img class="image" src="../static/img/rules/3.jpg">
                    <div class="text">
                        <p>Как ходит пешка в шахматной армии знают даже начинающие игроки – на одну, максимум – на 2 клетки и только вперед. Представителей армии противника они атакуют исключительно по диагонали. Если пешка достигнет противоположного края доски, она получает право на превращение - стать конем, слоном, ладьей или ферзем, и получить больше возможностей для передвижения. Соблюдения всех вышеперечисленных движений требуют правила шахмат, в которых четко прописано, как ходят шахматные фигуры во всех разновидностях матчей, от классики до пули.</p>

                        <p>Взятие на проходе касается особого хода пешки. Если соперник передвинул пешку на две клетки, поравняв ее тем самым с вашей, которая имеет противоположный цвет, то вы имеете полное право убрать ее с доски. Ее место займет ваша пешка. Единственный нюанс – сделать это нужно сразу.</p>
                    </div>
                </div>
            </div>
        </div>


        <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Конь
                </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <img class="image" src="../static/img/rules/5.jpg">
                    <div class="text">
                        Конь ходит буквой «Г» на 3 клетки. Главной его особенностью является то, что он может перепрыгивать через любые препятствия, что непозволительно даже ферзю. Такая способность коня является очень ценной.
                    </div>
                </div>
            </div>
        </div>


        <div class="accordion-item">
            <h2 class="accordion-header" id="headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Слон
                </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <img class="image" src="../static/img/rules/8.jpg">
                    <div class="text">
                        Слон движется по диагонали на любое количество клеток. Черный слон передвигается по черным клеткам, а белый слон, соответственно – по белым.
                    </div>
                </div>
            </div>
        </div>


        <div class="accordion-item">
            <h2 class="accordion-header" id="headingFour">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                    Ладья
                </button>
            </h2>
            <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <img class="image" src="../static/img/rules/4.jpg">
                    <div class="text">
                        Ладья может двигаться по прямой, по вертикали или горизонтали - то есть либо вперед, либо назад, но на любое количество клеток.
                    </div>
                </div>
            </div>
        </div>


        <div class="accordion-item">
            <h2 class="accordion-header" id="headingFive">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                    Ферзь
                </button>
            </h2>
            <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <img class="image" src="../static/img/rules/10.jpg">
                    <div class="text">
                        Ферзь перемещается в любом направлении на нужное количество клеток. Он считается самой ценной фигурой на доске.
                    </div>
                </div>
            </div>
        </div>


        <div class="accordion-item">
            <h2 class="accordion-header" id="headingSix">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                    Король
                </button>
            </h2>
            <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <img class="image" src="../static/img/rules/6.jpg">
                    <div class="text">
                        Король передвигается на одну клетку, но в любом направлении. Это необходимо для того, чтобы недопустить мата после получения шаха от соперника.
                    </div>
                </div>
            </div>
        </div>


        <div class="accordion-item">
            <h2 class="accordion-header" id="headingSeven">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                    Рокировка
                </button>
            </h2>
            <div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="headingSeven" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <img class="image" src="../static/img/rules/7.jpg">
                    <img class="image" src="../static/img/rules/9.jpg">
                    <div class="text">
                        В рокировке принимают участие король и ладья, но при условии, что с они еще не перемещались по доске, и в данный момент между ними нет других участников баталии. Суть этого состоит в том, что они меняются местами друг с другом – король делает 2 шага по направлению к ней, а ладья через него перепрыгивает. Важное правило всех рокировок – ни одна из участвующих в них клеток не должна находиться под ударом противника.
                    </div>
                </div>
            </div>
        </div>


        <div class="accordion-item">
            <h2 class="accordion-header" id="headingEight">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                    Ничья
                </button>
            </h2>
            <div id="collapseEight" class="accordion-collapse collapse" aria-labelledby="headingEight" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    Ничья называется пат. Суть ее состоит в том, что у одного из участников больше нет ходов, но при этом мат не поставлен. В этом случае партия завершается.

                    Кроме того, партия заканчивается вничью, если позиции фигур в сражении повторяются трижды или на доске у игроков остается очень мало материала, недостаточного для объявления мата сопернику.
                </div>
            </div>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header" id="headingNine">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
                    Победа
                </button>
            </h2>
            <div id="collapseNine" class="accordion-collapse collapse" aria-labelledby="headingNine" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    Мы уже разобрались с тем, с чего начать, теперь пришло время узнать, как правильно закончить. Победой считается мат сопернику. Попытки загнать его в «ловушку» – в этом и состоит суть шахматной игры. Если король оказывается под ударом, ему объявляется шах, означающий, что он вправе сделать спасающий его ход или закрыться от шаха.

                    Мат – это капитуляция всей шахматной армии, которая не смогла защитить своего главнокомандующего, и он попал в расставленные противником сети. Чем быстрее он поставлен, тем выше считается квалификация участника. Победу в турнирах подтверждают арбитры, внимательно следящие за ходом битвы и не допускающие ни одного невозможного хода.
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>

</html>
